<html data-namespace-typo3-fluid="true">

    <div class="container-fluid px-0">
        <div class="grid-container">

            <f:if condition="{data.assets}">
                <f:for each="{data.assets}" as="file" iteration="objIterator">

                    <div class="image{objIterator.cycle}">
                        <figure class="gallery_item gallery_item-1 mb-0 pb-0 w-100 h-100 ">

                            <f:link.typolink parameter="{file.link}">
                                <f:image class="gallery__img" alt="{file.title}"image="{file}" width="500" />
                                <f:if condition="{file.link}">
                                    <figcaption class="image-caption">
                                        <h3>{file.description}</h3>
                                    </figcaption>
                                </f:if>
                            </f:link.typolink>

                        </figure>
                    </div>

                </f:for>
            </f:if>

        </div>
    </div>

</html>

