.vh100 {
  height: calc(100vh - 100px);
}


// Carousel Cover
.carousel-100 {
  .carousel-item {
    height: calc(100vh - 100px);

    img {
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
      object-fit: cover;
    }
  }
}
