//News
.news-category-menu,
.news-date-menu {
  a.active,
  .itemactive {
    font-weight: bold;
  }
}

.news-tags-item {
  display: inline-block;
}


// blog list
.bloglist-small {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bloglist-small li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.bloglist-small li h5 {
  margin-bottom: 5px;
}

.bloglist-small li .txt {
  padding-left: 80px;
}

.bloglist-small li .read {
  display: block;
  margin-bottom: 5px;
}

.bloglist-small li .info {
  display: block;
  margin: 0;
  font-size: 11px;
  color: #aaa;
}

.bloglist-small img {
  position: absolute;
}

.date-box {
  background: #eee;
  width: 60px;
  position: absolute;
  text-align: center;
  color: var(--primary);
}

.date-box .day {
  display: block;
  font-size: 32px;
  font-weight: 500;
}

.date-box .month {
  font-size: 12px;
  display: block;
  letter-spacing: 5px;
  padding-left: 5px;
  background: #fff;
  color: #222;
}